.cont {
  flex: 1;
}

.crumbs {
  margin: 1rem 1rem;
  color: black;
  opacity: 0.6;
}

.video {
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
}

.video video {
  width: 100%;
}

.videoAlt {
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoAlt span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.87);
}

.hover {
  pointer-events: none;
  position: absolute;
  width: calc(100% - 2rem);
  height: 50%;
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) -55%,
    rgba(0, 0, 0, 0) 97.02%
  );
  opacity: 0;
  transition: 0.25s;
  color: rgb(239, 118, 239);
  padding: 0.5rem 1rem;
}

.hover h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 1rem;
}

.hover h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 24px;
}

.video:hover .hover {
  opacity: 1;
}

@media only screen and (max-width: 900px) {
  .crumbs {
    margin: 1rem 0;
  }

  .cont {
    padding: 0 1rem;
  }

  .video video,
  .videoAlt {
    border-radius: 10px;
    box-shadow: 0px 1px 22px rgba(0, 0, 0, 0.12);
  }
}

.course {
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;

  color: #431943;
  margin: 1rem 0;
}
